body {
	background-color: #080808;
	color: #efefef;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;		/* These must be overriden for things that need pointer / select */
	user-select: none;			/* These must be overriden for things that need pointer / select */
	width: 100%;
}

canvas {
	position: absolute;
}

#boardbg {
	background-image: url("./gfx/subdued_board.png");
	position: fixed;
	z-index: 1;
}

#boardtable {
	border-collapse: collapse;
	pointer-events: auto;
	position: fixed;
	table-layout: fixed;
	z-index: 2;
}

#boardcanvas {
	position: fixed;
	z-index: 2;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}
