body {
	background-color: #080808ff;
	color: #efefefff;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #181818ff;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #444444ff;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#gridder {
	display: none;				/* set to grid by renderer.js, just done like this to hide it until script is active. */
	height: 100vh;
	grid-template-columns: min-content min-content 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"tabs info t_c"
		"tabs b_g  t_c";
}

#gridder_board_graph {
	display: grid;
	grid-area: b_g;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"board graph";
}

#gridder_tree_comments {
	background-color: #111111ff;
	display: grid;
	grid-area: t_c;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"tree"
		"comments";
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#tabdiv {
	grid-area: tabs;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	pointer-events: auto;
}

#tabdiv_inner {
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#boardinfo {
	grid-area: info;
	color: #e0b872ff;
	font-family: monospace, monospace;
	line-height: 150%;
	white-space: pre;
	margin: 16px 0 0 16px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#boardbg {
	grid-area: board;
	background-color: #d0ad75ff;		/* Matching the board. */
	background-image: url("./gfx/board.png");
	margin: 16px 8px 0 16px;
	z-index: 1;
}

#ownershipcanvas {
	grid-area: board;
	margin: 16px 8px 0 16px;
	pointer-events: none;
	z-index: 2;
}

#boardtable {
	grid-area: board;
	border-collapse: collapse;
	margin: 16px 8px 0 16px;
	pointer-events: auto;
	z-index: 3;
}

#boardcanvas {
	grid-area: board;
	margin: 16px 8px 0 16px;
	pointer-events: none;
	z-index: 4;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#graphcanvas {
	grid-area: graph;
	display: block;						/* Stops the parent element from being 4px bigger... */
	margin: 16px 8px 0 0;
	z-index: 1;
}

#graphpositioncanvas {
	grid-area: graph;
	display: block;						/* Stops the parent element from being 4px bigger... */
	margin: 16px 8px 0 0;
	z-index: 2;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#treecanvas {
	grid-area: tree;
	background-color: #111111ff;
	display: block;
	margin: 0;
}

#comments {
	border: none;
	grid-area: comments;
	color: #ffffffff;
	cursor: auto;
	background-color: #181818ff;
	font-family: monospace, monospace;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0.5em 0.5em 0.5em 0.5em;
	pointer-events: auto;
	resize: none;
	white-space: pre-wrap;
}

#comments:focus {
	border: none;
	background-color: #1f1f1fff;
	outline: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#fbox {
	background-color: #080808ff;
	display: none;
	font-family: monospace, monospace;
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
}

#fbox_content {
	overflow: hidden;
	padding: 2em;
	white-space: pre;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#stderrbox {
	background-color: #080808ff;
	display: none;
	font-family: monospace, monospace;
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8;
}

#stderrbox_content {
	overflow: hidden;
	padding: 2em;
	white-space: pre;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#toast {
	position: fixed;
	font-size: 1.5em;
	bottom: 3px;
	right: 3px;
	background-color: #ffffffff;
	color: #000000ff;
	padding: 10px 20px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
	z-index: 9999;
}

#toast.visible {
	opacity: 1;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#rootprops {
	background-color: #080808ff;
	display: none;
	font-family: monospace, monospace;
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 7;
}

#rootprops_content {
	overflow: hidden;
	padding: 2em;
	white-space: pre;
}

input {
	margin: 1em 1em 0 1em;
	background-color: #181818ff;
	border: none;
	caret-color: white;
	color: #ffffffff;
	font-family: monospace, monospace;
	font-size: 100%;
	width: 40em;
	pointer-events: auto;
	user-select: auto;
}

input:focus {
	border: none;
	background-color: #1f1f1fff;
	outline: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#preloaders {
	display: none;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}

.coords {
	background-color: #080808ff;
	text-align: center;
	color: #d0ad75ff;
}

.white {
	color: #ffffffff;
}

.blue {
	color: #6ccceeff;
}

.yellow {
	color: #ffff99ff;
}

.green {
	color: #99ff99ff;
}

