body {
	background-color: #080808ff;
	color: #efefefff;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #181818ff;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #444444ff;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: min-content min-content min-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-template-areas:
		"d a a e"
		"d b c e"
		"d b c f";
}

#tabdiv {
	/* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2Pg4OD4DwABTAEYzq6tsQAAAABJRU5ErkJggg=="); */
	grid-area: d;
	font-family: monospace, monospace;
	height: 100vh;
	margin: 0;
	padding: 0 16px 0 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	pointer-events: auto;
}

#comments {
	grid-area: f;
	font-family: monospace, monospace;
	margin: 1em 1em 1em 0;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: pre-wrap;
}

#graphcanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0;
	z-index: 1;
}

#graphpositioncanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0;
	z-index: 2;
}

#treecanvas {
	display: block;
	grid-area: e;
	margin: 0 0 0 0;
}

#boardbg {
	background-image: url("./gfx/subdued_board.png");
	grid-area: b;
	margin: 16px 0 0 16px;
	z-index: 1;
}

#boardtable {
	grid-area: b;
	border-collapse: collapse;
	margin: 16px 0 0 16px;
	pointer-events: auto;
	z-index: 2;
}

#boardcanvas {
	grid-area: b;
	margin: 16px 0 0 16px;
	pointer-events: none;
	z-index: 3;
}

#boardinfo {
	grid-area: a;
	color: #e0b872ff;
	font-family: monospace, monospace;
	line-height: 150%;
	white-space: pre;
	margin: 16px 0 0 16px;
}

.info_highlight {
	color: #ffffffff;
}

#preloaders {
	display: none;
	grid-area: b;
	z-index: 4;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}
