body {
	background-color: #080808;
	color: #efefef;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;			/* These must be overriden for things that need pointer / select */
	width: 100%;
}

#gridder {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"a c"
		"b c";
}

#graphcanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0;
	z-index: 1;
}

#graphpositioncanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0;
	z-index: 2;
}

#boardbg {
	background-image: url("./gfx/subdued_board.png");
	grid-area: a;
	margin: 1em;
	z-index: 1;
}

#boardtable {
	grid-area: a;
	border-collapse: collapse;
	margin: 1em;
	pointer-events: auto;
	z-index: 2;
}

#boardcanvas {
	grid-area: a;
	margin: 1em;
	pointer-events: none;
	z-index: 3;
}

#boardinfo {
	grid-area: b;
	color: #ffffff;
	font-family: monospace, monospace;
	font-size: 100%;
	line-height: 150%;
	white-space: pre;
	margin: 0 0 0 1em;
}

.rust {
	color: #e0b872;
}

.white {
	color: #ffffff;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}
