body {
	background-color: #080808ff;
	color: #efefefff;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;
}

#gridder {
	display: grid;
	grid-template-columns: min-content min-content 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"d a a"
		"d b c";
}

#tabtable {
	grid-area: d;
	border-collapse: collapse;
	color: "#ffffffff";
	font-family: monospace, monospace;
	margin: 1em 1em 1em 1em;
	pointer-events: auto;
}

#graphcanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0 0 0 1em;
	z-index: 1;
}

#graphpositioncanvas {
	display: block;				/* Stops the parent element from being 4px bigger... */
	grid-area: c;
	margin: 0 0 0 1em;
	z-index: 2;
}

#boardbg {
	background-image: url("./gfx/subdued_board.png");
	grid-area: b;
	margin: 1em 0 0 1em;
	z-index: 1;
}

#boardtable {
	grid-area: b;
	border-collapse: collapse;
	margin: 1em 0 0 1em;
	pointer-events: auto;
	z-index: 2;
}

#boardcanvas {
	grid-area: b;
	margin: 1em 0 0 1em;
	pointer-events: none;
	z-index: 3;
}

#boardinfo {
	grid-area: a;
	color: #e0b872ff;
	font-family: monospace, monospace;
	font-size: 100%;
	line-height: 150%;
	white-space: pre;
	margin: 1em 0 0 1em;
}

.white {
	color: #ffffffff;
}

.blue {
	color: #99eeeeff;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}
